{% extends 'base.html' %}

{% block content %}

{% for key,value in price.DISPLAY.items %}
    <strong>Name: </strong>{{ key }} <br/> 
    <strong>Price:</strong> {{ value.USD.PRICE }} <br/>
    <strong>Daily HIGH:</strong>{{value.USD.HIGHDAY}}<br/>
    <strong>Daily LOW:</strong>{{value.USD.LOWDAY}}<br/>
    <strong>Marketcap:</strong>{{value.USD.MKTCAP}}<br/>

    <hr> <br/>
{% endfor %}

<br/> <br/>

{{ price.DISPLAY }}

<div class="jumbotron">
    <h1 class="display-4">Welcome to cryptonews network!</h1>
    <p class="lead">Your source of cryptonews and blockchain news </p>
    <a class="btn btn-secondary " href="#" role="button">Learn more</a>
  </div>


<div class="container">
    <div class="row">
        {% for x in api.Data %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src=" {{ x.imageurl }} " class="card-img-top" alt="{{ x.source }}">
                    <div class="card-body">
                        <h5 class="card-title"> {{ x.title }} </h5>
                        <p class="card-text">{{ x.body }}</p>
                        <a href="{{ x.url }}" class="btn btn-secondary">Read more... </a>
                    </div>
                </div>
                <br/>
            </div>
        {% endfor %}
    </div>
</div>
    


    {{ api.Data }}
{% endblock %}